.quote-modal {
  text-align: start;
  position: relative;
  max-width: 40rem;
}
.quote-blurb,
.quote-author {
  font-size: 1.2rem;
  line-height: 2.2rem;
  margin: 2rem;
}

.quote-blurb::first-letter {
  font-size: 3rem;
  position: relative;
  text-transform: uppercase;
}

.quote-author {
  font-weight: 700;
  margin-left: 3rem;
  margin-top: 1rem;
}

.refresh-icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}
